= link_to(h(flat.street), edit_flat_path(flat), :class => "street-name")
, 
= flat.neighbourhood

= image_tag 'http://www.wg-gesucht.de/favicon.ico' if flat.scraped?
%br
= "#{flat.square_meters}m²"
= number_to_currency(flat.price, :unit => '€', :precision => 0)
= number_to_currency(flat.square_meter_price, :unit => '€', :separator => ",", :precision => 0) + "/m²"


= raw flat.contact

= flat.priority