<%= link_to 'Back to list', flats_path %>

<h1>Visits</h1>

<% @flats.group_by { |f| "#{f.visit_at.day}" }.each do |day, flats| %>
  
  <%= content_tag(:h2, :class => (flats.first.visit_passed?) ? 'passed' : nil) do %>
    <%= l(flats.first.visit_at, :format => "%d.%m.%Y (%a)") %>
  <% end %>
  <ol>
  <% flats.each do |flat| %>
    <%= content_tag(:li, :class => (flat.visit_passed?) ? 'passed' : nil) do %>
      <time><%= l(flat.visit_at, :format => "%H:%M") %></time>
      <%= render :partial => "flats/flat", :locals => { :flat => flat, :show_phone => true } %>
    <% end %>  
  <% end %>
  </ol>
<% end %>
