<li>
<%= link_to(h(flat.street), flat, :class => "street-name") %>, <%= flat.neighbourhood %>
<%= image_tag 'http://www.wg-gesucht.de/favicon.ico' if flat.scraped? %>
<small><%= link_to 'edit', edit_flat_path(flat) %></small>
<br />
<b><%= flat.square_meters %></b>m², 
<b><%= number_to_currency(flat.price, :unit => '€', :precision => 0) %></b>,
<b><%= flat.rooms %></b> rooms,
<b><%= number_to_currency(flat.square_meter_price, :unit => '€', :separator => ",", :precision => 0) %></b>/m²

<b><%= priority_as_number(flat.priority) %></b>
</li>
