%table.flats
  %tr
    %th.state
      %h2= flats.first.state.humanize
    %th URL
    %th €
    %th m²
    %th.rooms rooms
    %th.avail avail
    %th prio
    
  - flats.each do |flat|
    %tr{:class => (flash[:created_flat_id].to_i == flat.id) ? 'just-created' : nil}  
      %td.street
        .overflow
          = link_to(edit_flat_path(flat), :class => "street-name") do
            = h(flat.city_with_street)
            %small= flat.subtitle_with_contact

      %td= flat.url ? link_to('link', flat.url) : 'N/A'
      %td= flat.price
      %td= flat.square_meters
      %td= flat.rooms ? flat.rooms : 'WG'
      %td= flat.start_date_with_duration
      %td= flat.priority
    
      / FIXME
      /%td=raw flat.phone.blank? ? "<b style='color:#d00'><i>missing</i></b>" : flat.phone
