%table.flats
  %tr
    %th.state
      %h2= state.humanize
    %th €
    %th m²
    %th €/m²
    %th rooms
    %th prio
    
  - flats.each do |flat|
    %tr  
      %td.street
        .overflow
          = link_to(flat, :class => "street-name") do
            = h(flat.street_with_neighbourhood)
            %small= flat.subtitle_with_contact

      %td= flat.price
      %td= flat.square_meters
      %td= flat.square_meter_price.round
      %td= flat.rooms ? flat.rooms : 'WG'
      %td= flat.priority
    
      / FIXME
      /%td=raw flat.phone.blank? ? "<b style='color:#d00'><i>missing</i></b>" : flat.phone
    
