<%= f.error_messages %>

<fieldset id="process_data">
  <p>
  <label>Status</label><br />
  
  <% Flat::STATES.each do |state| %>
    <%= f.radio_button(:state, state) %> 
    <%= f.label :state, state.humanize, :value => state.humanize %><br />
  <% end %>
  </p>

  <p>
    <%= f.label :priority %>&nbsp;
    <% ['great', 'ok', 'so-so'].each_with_index do |text, i| %>
      <%= f.radio_button :priority, i %>
      <%= f.label :priority, text, :value => i %>
    <% end %>    
  </p>

  <p>
    <%= f.label :visit_at %><br />
    <%= f.text_field :visit_at, :value => (@flat.visit_at && l(@flat.visit_at, :format => :german)) %>
  </p>

  <p>
    <%= f.label :subtitle %><br />
    <%= f.text_field :subtitle %>
  </p>

  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>

  <p>
    <%= f.submit(@flat.new_record? ? 'Create' : 'Update') %>
  </p>

  
</fieldset>

<fieldset id="base_data">
  <h3>Flat Info</h3>
  <p>
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :neighbourhood %><br />
    <%= f.text_field :neighbourhood %>
  </p>
  <p>
    <%= f.label :rooms %><br />
    <%= f.text_field :rooms %>
  </p>
  <p>
    <%= f.label :square_meters %><br />
    <%= f.text_field :square_meters %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  
  <p>
    <%= f.label :available_from, "Availability" %><br />
    from: 
      <%= f.text_field :available_on, :value => l(@flat.available_on, :format => :german) %>
    &nbsp;until: 
      <%= f.text_field :available_until, :value => (@flat.available_until && l(@flat.available_until, :format => :german)) %>
  </p>
  
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.label :contact_person %><br />
    <%= f.text_field :contact_person %>
  </p>

  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>

  <p>
    <%= link_to("Open original ad", @flat.url , :target => '_blank') %>
  </p>
</fieldset>