<% @initialize = true %>

<%= javascript_tag do %>
  var G_addresses = <%= flats_as_json(@flats).html_safe %>;
<% end %>

<%= render :partial => 'overview_map', :locals => { :flats => @flats } %>

<%= link_to 'Add flat', '/flats/prefill_url_form' %> | 
<%= link_to 'Visits', '/visits' %> | 



<%= render :partial => 'sort_bar' %>

<h1 style="display: none;">Flats</h1>

<div id="flat_list"><% @flats.group_by(&:state).each do |state, flats| %>
  <h2><%= state.humanize %></h2>
  <ul class="flats" id="flats_<%= state.underscore %>">
  <% flats.each do |flat| %>
    <li><%= render :partial => "flats/flat", :locals => { :flat => flat, :show_phone => false } %></li>
  <% end %>
  </ul>
<% end %>
</div>