<% @initialize = true %>

<%= render :partial => 'overview_map', :locals => { :flats => @flats } %>

<%= link_to 'Add flat', '/flats/prefill_url_form' %> | 
<%= link_to 'Visits', visits_path %> | 
<%= link_to 'Edit favorite places', favorite_places_path %> | 


<h1 style="display: none;">Flats</h1>

<%= render :partial => 'flats_list' %>
<%= render :partial => 'sort_bar' %>

