<%= javascript_tag do %>
  var G_addresses = <%= flats_as_json(@flats).html_safe %>;
<% end %>

<%= render :partial => 'overview_map', :locals => { :flats => @flats } %>


<%= link_to 'Add flat', '/flats/prefill_url_form' %>  
<%= render :partial => 'sort_bar' %>

<div id="flats">
  
  <ul id="flat_index">
    <% @flats.group_by(&:state).each do |state, flats| %>
      <h3><%= state.humanize %></h3>
      <%= render :partial => "flat", :collection => flats %>
    <% end %>
  </ul>
<div>