<div id="navigation">
  <%= link_to 'Back to list', flats_path %> |
  <%= link_to 'Edit', edit_flat_path(@flat) %> |
  <%= link_to 'Destroy', @flat, :confirm => 'Are you sure?', :method => :delete %>
</div>

<div id="left_col">
  <div id="infos">
    <h1>
      <%= @flat.neighbourhood %> <br />
      <%= @flat.street %> 
    </h1>
    
    <p>
      <b><%= @flat.rooms %></b> rooms,
      <b><%= @flat.square_meters %></b>m², 
      <b>€<%= @flat.price %></b>.
    </p>
    
    <p>
      State: <b><%= @flat.state %></b>.
    </p>

    <p>
      Available from <b><%= l(@flat.available_on, :format => :german) %></b>
      <% if @flat.available_until %> 
        to <b><%= l(@flat.available_until, :format => :german) %></b>
        (<%= available_months(@flat) %>)
      <% end %>
    </p>
    
    <p>
      Contact: <%=raw auto_link(@flat.contact_person + " " + @flat.phone) %>
    </p>
    
    <p>
      Comment:<br /><%=raw simple_format(auto_link(@flat.comment)) %>
    </p>

    <p>
      Added on: <%= l(@flat.created_at, :format => :german) %>
        <i>(<%= time_ago_in_words(@flat.created_at) %>)</i>.
    </p>
    
    <p>
      Last updated on: <%= l(@flat.updated_at, :format => :german) %> 
        <i>(<%= time_ago_in_words(@flat.updated_at) %>)</i>.
    </p>
    
    <p>
      Priority <%= priority_as_number(@flat.priority) %>
    </p>
      
    <p><%= link_to('Original ad', @flat.url, :target => '_blank') %>.</p>
  </div>
</div>

<%= render :partial => 'one_flat_map', :locals => { :flat => @flat } %>


