<% @initialize = true %>

<div id="navigation">
  <%= link_to 'Back to list', flats_path %> |
  <%= link_to 'Edit', edit_flat_path(@flat) %> |
  <%= link_to 'Destroy', @flat, :confirm => 'Are you sure?', :method => :delete %>
</div>

<div id="left_col">
  <div id="infos">
    
    <h2><%= @flat.street %></h2>
    
    <table id="flat-data">
      <thead>
      <tr>
        <th>neighbourhood</th>
        <td><%= @flat.neighbourhood %></td>
      </tr>
      <% if @flat.rooms %>
      <tr>
        <th>number of rooms</th>
        <td><%= @flat.rooms %></td>
      </tr>
      <% end %>
      <tr>
        <th>size</th>
        <td><%= @flat.square_meters %>m²</td>
      </tr>
      <tr id="separator">
        <th>price</th>
        <td>€<%= @flat.price %></td>
      </tr>
      </thead>
      <tr>
        <th>in state</th>
        <td><%= @flat.state.humanize %></td>
      </tr>
      <tr>
        <th>availability</th>
        <td>
           from <%= l(@flat.available_on, :format => :german) %>
          <% if @flat.available_until %> 
            to <%= l(@flat.available_until, :format => :german) %>
            (<%= available_months(@flat) %>)
          <% end %>
        </td>
      </tr>
      <tr>
        <th>contact</th>
        <td><%=raw auto_link("#{@flat.contact_person} #{@flat.phone}") %></td>
      </tr>
      <tr>
        <th>visit at</th>
        <td>
          <% if @flat.visit_at %>
            <%= l(@flat.visit_at, :format => :german) %> 
            <i>(<%= distance_of_time_in_words_to_now(@flat.updated_at) %>)</i>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>priority</th>
        <td><%= priority_as_number(@flat.priority) %></td>
      </tr>
      <tr>
        <td colspan="2"><%= link_to('read original ad', @flat.url, :target => '_blank') %></td>
      </tr>
      <tr>
        <th colspan="2">comments:</th>
      </tr>
      <tr>
        <td colspan="2"><%=raw simple_format(auto_link(@flat.comment)) %></th>
      </tr>
    </table>
    
  </div>
</div>

<%= render :partial => 'one_flat_map', :locals => { :flat => @flat } %>


