<div id="navigation">
  <%= link_to 'Back to list', flats_path %> |
  <%= link_to 'Edit', edit_flat_path(@flat) %> |
  <%= link_to 'Destroy', @flat, :confirm => 'Are you sure?', :method => :delete %>
</div>

<div id="left_col">
  <div id="infos">
    <h1>
      <%=h @flat.neighbourhood %><br />
      <%=h @flat.street %>
    </h1>
    
    <p>
      <b><%=h @flat.rooms %></b> rooms,
      <b><%=h @flat.square_meters %></b>m², 
      <b>€<%=h @flat.price %></b>.
    </p>
    
    <p>
      State: <b><%= @flat.state %></b>.
    </p>

    <p>
      Available from <b><%=h @flat.available_on %></b>
      <% if @flat.available_until %> 
        to <b><%=h @flat.available_until %></b>
        (<%= available_months(@flat) %>)
      <% end %>.
    </p>
    
    <p>
      Contact: <%= @flat.contact_person %> at <%= @flat.phone %>.
    </p>
    
    <p>
      Comment:<br /><%= simple_format(@flat.comment) %>
    </p>

    <p>
      Added on: <%= l(@flat.created_at, :format => :long) %>.
        <i>(<%= time_ago_in_words(@flat.created_at) %>)</i>.
    </p>
    
    <p>
      Last updated on: <%= l(@flat.updated_at, :format => :long) %> 
        <i>(<%= time_ago_in_words(@flat.updated_at) %>)</i>.
    </p>
    
    <p><%= link_to('Original ad', @flat.url, :target => '_blank') %>.</p>
  </div>
</div>

<%= render :partial => 'one_flat_map', :locals => { :flat => @flat } %>


