<%= form_for(@favorite_place) do |f| %>
  <% if @favorite_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite_place.errors.count, "error") %> prohibited this favorite_place from being saved:</h2>

      <ul>
      <% @favorite_place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
